* {
  background-color: black;
  text-align: center;
}

h1{
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2{
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  }

p1, p3{
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

p2{
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

h3{
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.footer{
  text-align: right;
  color:gray;
}
